{% extends 'seller_header_footer.html' %} {% block content %} {% load static %}

<!-- 
Body Section 
-->
<div class="row">
	<div id="sidebar" class="span3">
		<div class="well well-small">
			<ul class="nav nav-list">
				<li><a href="products.html"><span class="icon-chevron-right"></span>Fashion</a></li>
				<li><a href="products.html"><span class="icon-chevron-right"></span>Watches</a></li>
				<li><a href="products.html"><span class="icon-chevron-right"></span>Fine Jewelry</a></li>
				<li><a href="products.html"><span class="icon-chevron-right"></span>Fashion Jewelry</a></li>
				<li><a href="products.html"><span class="icon-chevron-right"></span>Engagement & Wedding</a></li>
				<li><a href="products.html"><span class="icon-chevron-right"></span>Men's Jewelry</a></li>
				<li><a href="products.html"><span class="icon-chevron-right"></span>Vintage & Antique</a></li>
				<li><a href="products.html"><span class="icon-chevron-right"></span>Loose Diamonds </a></li>
				<li><a href="products.html"><span class="icon-chevron-right"></span>Loose Beads</a></li>
				<li><a href="products.html"><span class="icon-chevron-right"></span>See All Jewelry & Watches</a></li>
				<li style="border:0"> &nbsp;</li>
				<li> <a class="totalInCart" href="cart.html"><strong>Total Amount <span
								class="badge badge-warning pull-right"
								style="line-height:18px;">$448.42</span></strong></a></li>
			</ul>
		</div>

		<div class="well well-small alert alert-warning cntr">
			<h2>50% Discount</h2>
			<p>
				only valid for online order. <br><br><a class="defaultBtn" href="#">Click here </a>
			</p>
		</div>
		<div class="well well-small"><a href="#"><img src="{% static 'assets/img/paypal.jpg '%}"
					alt="payment method paypal"></a></div>

		<a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
		<br>
		<br>
		<ul class="nav nav-list promowrapper">
			<li>
				<div class="thumbnail">
					<a class="zoomTool" href="product_details.html" title="add to cart"><span
							class="icon-search"></span> QUICK VIEW</a>
					<img src="{% static 'assets/img/bootstrap-ecommerce-templates.png '%}"
						alt="bootstrap ecommerce templates">
					<div class="caption">
						<h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span
								class="pull-right">$22.00</span></h4>
					</div>
				</div>
			</li>
			<li style="border:0"> &nbsp;</li>
			<li>
				<div class="thumbnail">
					<a class="zoomTool" href="product_details.html" title="add to cart"><span
							class="icon-search"></span> QUICK VIEW</a>
					<img src="{% static 'assets/img/shopping-cart-template.png '%}" alt="shopping cart template">
					<div class="caption">
						<h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span
								class="pull-right">$22.00</span></h4>
					</div>
				</div>
			</li>
			<li style="border:0"> &nbsp;</li>
			<li>
				<div class="thumbnail">
					<a class="zoomTool" href="product_details.html" title="add to cart"><span
							class="icon-search"></span> QUICK VIEW</a>
					<img src="{% static 'assets/img/bootstrap-template.png '%}" alt="bootstrap template">
					<div class="caption">
						<h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span
								class="pull-right">$22.00</span></h4>
					</div>
				</div>
			</li>
		</ul>

	</div>
	<div class="span9">
		<ul class="breadcrumb">
			<li><a href="index.html">Home</a> <span class="divider">/</span></li>
			<li class="active">Registration</li>
		</ul>
		<h3> Add Product</h3>
		<hr class="soft" />
        {{msg}}
		<form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data"> 
	
				{% csrf_token %}
				
			
				<div class="col-lg-6">
						
           
		

		
		</div>
		<div class="control-group">
			<label class="control-label" for="inputFname">Select Image<sup>*</sup></label>
			<div class="controls">
				<input type="file" name="p_image" id="inputFname" placeholder="Select Image" >
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputLname">Product Name<sup>*</sup></label>
			<div class="controls">
				<input type="text" name="p_name" id="inputLname" placeholder="Product Name" >
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Product Price <sup>*</sup></label>
			<div class="controls">
				<input type="text" name="p_price" placeholder= Price>
			</div>
			<div class="control-group">
				<label class="control-label">Product Quantity <sup>*</sup></label>
				<div class="controls">
					<input type="text" name="p_qut" placeholder="Quantity">
				</div>
			</div>
			<div class="control-group">
                <label class="control-label">Product Description <sup>*</sup></label>
				<textarea name="p_dec" id="" cols="30" rows="10" placeholder=" Description"></textarea >
				</div>
				<div class="control-group">
					
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="submit" name="submitAccount" value="Add Product" class="exclusive shopBtn">
					</div>
				</div>
				</form>
			</div>

		</div>
	</div>
	{% endblock %}  